/* styles/Login.module.css */
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f9c5a9, #f35500);
}

.main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  width: 100%;
  height: 600px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f9c5a9, #f35500);
  color: white;
  padding: 2rem;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo {
  max-width: 100px;
  margin-bottom: 1rem;
}

.welcomeTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  text-align: center;
}

.form {
  width: 100%;
  max-width: 400px;
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.inputGroup input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rememberMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.rememberMe label {
  display: flex;
  align-items: center;
}

.rememberMe input {
  margin-right: 0.5rem;
}

.forgotPassword {
  color: #0072ff;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.loginButton, .signupButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton {
  background: #f35500;
  color: white;
  margin-bottom: 0.5rem;
}

.signupButton {
  background: #ccc;
  color: black;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.socialMedia p {
  margin-bottom: 0.5rem;
}

.icons a {
  margin: 0 0.5rem;
}


/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: auto; /* Permite el desplazamiento si el contenido es más grande que la ventana */
}

.modalContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.registerButton {
  background-color: #f35500;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: #005bb5;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}

.image {
  width: 100%; /* La imagen ocupará el 50% del ancho del contenedor padre */
  max-width: 900px; /* Limita el ancho máximo */
  height: auto;
}
