/* styles/Task.module.css */

.container {
    padding: 20px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
    display: inline-block;
  }
  
  .addButton {
    background-color: #0070f3;
    color: #fff;
  }
  
  .addButton:hover {
    background-color: #005bb5;
  }
  
  .editButton {
    background-color: #ff9900; /* Naranja para editar */
    color: #fff;
  }
  
  .editButton:hover {
    background-color: #cc7a00;
  }
  
  .deleteButton {
    background-color: #dc3545; /* Rojo para eliminar */
    color: #fff;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  .modal {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: auto;
    position: relative;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .modal p {
    font-size: 1em;
    color: #666;
    text-align: center;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .successModal p {
    color: #28a745;
  }
  
  .deleteSuccessModal p {
    color: #dc3545;
  }
  